.random-block {
    background-color: #fff;
    padding: 25px 25px 15px 25px;
    border: 1px solid #a8a6a6;
    margin-top: 35px;
    border-radius: 7px;
    /* margin-bottom: 40px; */
}
.random-block h4 {
    margin-bottom: 20px;
    text-align: center;
}
.term {
    font-weight: bold;
}

